$gray-1: var(--atn-bg-4);
$gray-2: var(--atn-bg-2);
$gray-3: var(--atn-bg-1);
$gray-4: var(--atn-bg0);
$gray-5: var(--atn-bg1);
$gray-6: var(--atn-bg2);
$gray-7: var(--atn-bg3);
$gray-8: var(--atn-bg4);
$gray-9: var(--atn-bg5);
$gray-10: var(--atn-bg6);;
$desaturated-gray: var(--atn-desaturated-bg);;

$dark-red: var(--atn-dark-red);;
$red: var(--atn-red);;
$light-red: var(--atn-light-red);;
$orange: var(--atn-orange);;
$dark-orange: var(--atn-dark-orange);;
$yellow: var(--atn-yellow);;
$green: var(--atn-green);;
$teal: var(--atn-teal);;
$aqua: var(--atn-aqua);;
$cyan: var(--atn-cyan);;
$cyan-alt: var(--atn-cyan-alt);;
$sky-blue: var(--atn-sky-blue);;
$blue: var(--atn-blue);;
$dark-blue: var(--atn-dark-blue);;
$pink: var(--atn-pink);;
$purple: var(--atn-purple);;
$indigo: var(--atn-indigo);;

$text-light: var(--atn-text-light);;
$text-primary: var(--atn-text-primary);;
$text-paragraph: var(--atn-text-paragraph);;
$text-secondary: var(--atn-text-secondary);;
$text-gray: var(--atn-text-gray);;
$text-dark: var(--atn-text-dark);;
